# MySQL properties
db.driver=
db.url=
db.username=
db.password=

# Hibernates properties
hibernate.dialect=
hibernate.hbm2ddl.auto=
hibernate.show_sql=
hibernate.packagesToScan=com.fradou.nutrition.mvc.entity

# CPO properties
connection.pool.initialPoolSize=5
connection.pool.minPoolSize=5
connection.pool.maxPoolSize=20
connection.pool.maxIdleTime=3000